<div id="entete">
        <div class="container">
            <div class="row">
                
                <div id="logo" class="col-md-2">
                    <a href="https://uqam.ca" title="UQAM">
                        <img class="svg" src="https://gabarit-adaptatif.uqam.ca/2014/css/image/logo/logo_uqam_couleur-blanc.svg" alt="UQAM, Université du Québec à Montréal">
                    </a> 
                </div>
                
                <div id="plus-bouton" class="col-md-1 hidden-xs hidden-sm text-center"> 
                    <div class="frame-btn">
                        <span class="helper"></span>
                        <button id="plusBoutonDeroulant0" type="button" class="btn btn-primary dropdown-toggle mt-2 plus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    
                        <div id="plus-bouton-liens" class="dropdown-menu dropdown-menu-center" aria-labelledby="plusBoutonDeroulant0">
                            <ul>
                                <li><a href="https://uqam.ca/">Page d'accueil de l'UQAM</a></li>
                                <li><a href="https://etudier.uqam.ca/">Étudier à l'UQAM</a></li>
                                <li><a href="https://bottin.uqam.ca/">Bottin du personnel</a></li>
                                <li><a href="https://carte.uqam.ca/campus">Carte du campus</a></li>
                                <li><a href="https://bibliotheques.uqam.ca/">Bibliothèques</a></li>
                                <li><a href="https://uqam.ca/joindre">Pour nous joindre</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div id="unite" class="col-md-5">
                   <a id="contextualpage" class="underline" href="https://uqam-ca.libcal.com/"></a><a href="https://bibliotheques.uqam.ca" class="unite-adm" title="Service des bibliothèques">Service des bibliothèques</a> 
				 
                </div>
                
                <div id="authentification" class="col-md-4 text-right hidden-xs hidden-sm">
                    
 

					<!-- <span class="authentification-lien">(<a href="/deconnexion" >déconnexion</a>)</span> -->
						  
                    
                </div>
            </div>
        </div>
	</div>