<style>
/*
LibAnswers
*/
@import url( '//fonts.googleapis.com/css?family=Roboto:400,500');
@import url( '//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css'); /* Import les Glyphicons de Bootstrap d'un CND */
@import url( '//services-bibliotheques.uqam.ca/sites/all/themes/uqam2019/css/spacing.css');
@import url( '//services-bibliotheques.uqam.ca/sites/all/themes/uqam2019/css/theme-uqam.css');

/***************/
/* Global      */
/***************/

body, html {
	font-family: "Roboto",Arial,Geneva,Helvetica,sans-serif;
	color: #000;
}

h2 {
	color: #000;
	font: 500 2.4rem Roboto,Arial,Geneva,Helvetica,sans-serif;
	border: none;
}

#s-la-public-banner { /* Masque la banner */
	display: none;
	visibility: hidden; 
}

#s-la-public-skiplink { /* Masque le Skip link */
	display: none;
	visibility: hidden; 
}

#s-la-public-footer { /* Masque le footer promo de Springshare */
	display: none;
	visibility: hidden; 
}

#s-la-public-bc {
	margin-bottom: 2rem;
}

.s-la-profile-image {
	display: none;
}

#s-la-page-0 .btn-group-vertical > .btn-group::after, #s-la-page-0 .btn-group-vertical > .btn-group::before, #s-la-page-0 .btn-toolbar::after, #s-la-page-0 .btn-toolbar::before, #s-la-page-0 .clearfix::after, #s-la-page-0 .clearfix::before, #s-la-page-0 .container-fluid::after, #s-la-page-0 .container-fluid::before, #s-la-page-0 .container::after, #s-la-page-0 .container::before, #s-la-page-0 .dl-horizontal dd::after, #s-la-page-0 .dl-horizontal dd::before, #s-la-page-0 .form-horizontal .form-group::after, #s-la-page-0 .form-horizontal .form-group::before, #s-la-page-0 .modal-footer::after, #s-la-page-0 .modal-footer::before, #s-la-page-0 .modal-header::after, #s-la-page-0 .modal-header::before, #s-la-page-0 .nav::after, .nav::before, #s-la-page-0 .navbar-collapse::after, #s-la-page-0 .navbar-collapse::before, #s-la-page-0 .navbar-header::after, #s-la-page-0 .navbar-header::before, #s-la-page-0 .navbar::after, #s-la-page-0 .navbar::before, #s-la-page-0 .pager::after, #s-la-page-0 .pager::before, #s-la-page-0 .panel-body::after, #s-la-page-0 .panel-body::before, #s-la-page-0 .row::after, #s-la-page-0 .row::before {
        display: unset;
        content: none;
}

/**************/
/* Hyperliens */
/**************/

a:link,
a:visited {
	color: #007abb;
}

a:hover,
a:focus,
a:active {
	color: #0856B3;
}

a.underline:hover,
a.underline:focus,
a.underline:active {
	text-decoration: underline;
}

a:link .fa,
a:visited .fa {
	color: #000;
}

a:hover .fa,
a:focus .fa,
a:active .fa {
	color: #000;
}

/**************/
/* Forms      */
/**************/

.form-control {
	border-radius: 0;
}

.form-group-sm .form-control, .input-sm {
	border-radius: 0;
}

fieldset {
    border: none;
}

/**************/
/* Buttons    */
/**************/

.btn {
	border-radius: 0;
}

.btn-info {
	color: #fff;
	background-color: #0079BE;
	border-color: #0079BE;
	opacity: .8;
}

.btn-info.active, .btn-info:active, .btn-info:hover, .open>.dropdown-toggle.btn-info {
	color: #fff;
	background-color: #0079BE;
	border-color: #0079BE;
	opacity: 1;
}

.btn-success {
	color: #fff !important;
}

a.btn:link, a.btn:visited {
    color: #fff;
}

/**************/
/* Alert      */
/**************/

.alert {
	border-radius: 0;
	border: none;
}

/***************/
/* Modal       */
/***************/

.modal-content {
    border-radius: 0;
}

#modalbtnc {
	visibility: hidden;
}
#modalbtnc:after {
	content: 'Fermer';
	visibility: visible;
	padding: 5px 10px;
	display: block;
	position: absolute;
	border: 1px solid #ccc;
}

.modal-footer {
	margin-bottom: 20px !important;
}

/***************/
/* Header      */
/***************/

@media (min-width: 992px) {
	#unite a:first-child {
		margin-left: 12px;
	}
}


/***************/
/* Breadcrumbs */
/***************/

@media (max-width: 991px) {
	#s-la-public-bc {
		display: none;
	}
}

@media (min-width: 992px) {
	#ctn-public {
		background: url(https://actifs-bibliotheques.uqam.ca/fichiers/img/png/bg-breadcrumb.png) repeat-x;
		font-size: 16px;
	}
}



.s-la-color-header {
    background-color: transparent;
}

#s-la-headerlinks .s-la-breadcrumbs ol,
#s-la-headerlinks .s-la-navbar header,
#s-la-headerlinks .s-la-navbar ul {
	/* margin: 10px 0; */
	margin: 0 0;
	font-weight: 400;
	font-size: 14px;
}

.s-la-breadcrumbs ol>li+li:before {
	padding: 8px;
	color: #2188CA;
	content: "\003e";
}

#s-la-headerlinks .col-sm-6:first-child {
	padding-left: 0;
}

.s-la-breadcrumbs {
    padding: 8px 0;
}

/***************/
/* msg-entete */
/***************/
@media (max-width: 991px) {
	#msg-entete {
		margin-top: 2rem;
	}
}

/***************/
/* well */
/***************/

.well {
     border: none; 
     border-radius: 0; 
     -webkit-box-shadow: none;
     box-shadow: none;
}

/***************/
/* btn */
/***************/
.btn.active, .btn:active {
    -webkit-box-shadow: none; 
    box-shadow: none;
}


</style>

<script>
jQuery(function ($) {

$('body >.container').wrap('<div id="ctn-public" class="meta-container"></div>');



/******************************/
/* Titre - Généralités        */
/******************************/
$titrePage = $('.s-la-breadcrumbs li:nth-child(2)').html();
$('[id^=s-la-page-] #contextualpage').html($titrePage + ' - ');


/******************************/
/* Fil d'Ariane - Généralités */
/******************************/
$('.s-la-breadcrumbs li:first-child').after('<li><a href="https://bibliotheques.uqam.ca/">Service des bibliothèques</a></li>');




});
</script>