<div id="pieddepage" class="uqam pieddepage">
    <div class="container">
        <div class="row">
			<div id="foot-info" class="col-xs-12 col-md-5 col-md-push-3">
				<ul class="list-unstyled">
					<li><a href="https://bibliotheques.uqam.ca">Service des bibliothèques</a></li>
					<li><a href="mailto:bibliotheques@uqam.ca">bibliotheques@uqam.ca</a></li>
				</ul>
			</div>
		
			<div id="foot-uqam" class="col-xs-12 col-md-3 col-md-pull-5">
				<p><a href="https://uqam.ca">UQAM - Université du Québec à Montréal</a></p>
			</div>
	
			<div id="foot-a11y" class="col-xs-12 col-md-4">
				<p class="text-alignment"><a href="https://uqam.ca/accessibilite" class="link-a11y">Accessibilité Web</a></p>
			</div>
		</div>
	</div>
</div>